extends layout

block title
    title Error

block scripts
    include js/index-js.html

block stylesheets
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css')

block content
    include error.html