<div id="contact" style="width:20%; align:center; text-align:center; margin-left: auto; margin-right: auto ;">
    <form action="/register" method="post">
        <div class="container">
            <label>
                <b>
                    Login
                </b>
            </label>
            <input name="username" placeholder="Enter Username" required="" type="text">
            <label>
                <b>
                    Password
                </b>
            </label>
            <input name="password" placeholder="Enter Password" required="" type="password">
            <button type="submit">
                Connexion
            </button>
            </input>
            </input>
        </div>
    </form>
</div>